html/.sass-cache/*
/.ftpquota
/prepros.cfg
/error_log
/*.log
/.htaccess
/sitemap.xml
/sitemap.xml.gz
/wp-admin
/wp-includes
.sass-cache/
/wp-config.php
/wp-content/index.php
/wp-content/themes/index.php
/wp-content/themes/stranica/prepros.cfg
/wp-content/themes/stranica/scss/prepros.cfg
/wp-content/themes/stranica/style-antonio.css
.idea/*
/wp-content/languages/*


/wp-content/advanced-cache.php
/wp-content/backup-db/
/wp-content/backups/
/wp-content/blogs.dir/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/wp-cache-config.php
/wp-content/plugins/hello.php
/index.php
/login.php
/wp-login.php
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/srdb.php

/readme.html
/license.txt
amazingathletes.rar
wp-content/themes/bridge-child/style.css.bak2
dploy.yaml
