.user_form button, .user_form input[type="submit"], .user_form input[type="button"], .user_form .button {
    padding: 8px 16px;
    border: 1px solid #1E3C7E  ;
    margin: 10px 0px;
    display: inline-block;
    background-color: #1E3C7E  ;
    color: #fff;
    cursor: pointer;
}
/* TEST COMMENT*/
.user_form input[type="submit"]:hover, .user_form .button:hover {
	background-color: #2F519C  ;
}
.selectize-control.cities .selectize-input{
    padding:20px;
    border:1px solid red;
    border-color:red;
    color:red;
    font-size:18px;
}

.selectize-control.cities .selectize-dropdown.single {
    border:1px solid red;
}

.selectize-control.cities .selectize-dropdown.single .option{
    padding:10px;
    color:red;
}

.selectize-control.cities .selectize-dropdown.single .option.selected, .selectize-control.cities .selectize-dropdown.single .option:hover{
    background-color: red;
    color:white;
}

.sidebar-nav h2 {
	text-transform: uppercase;
}

.user_form input[type="submit"], .user_form .button {
    background-color:#1E3C7E;
    color:#fff;
    cursor:pointer;
}

.wpcf7-form-control-wrap input[type="text"].wpcf7-form-control, .wpcf7-form-control-wrap input[type="password"], .wpcf7-form-control-wrap input[type="email"], .wpcf7-form-control-wrap input[type="date"], .wpcf7-form-control-wrap textarea.wpcf7-form-control, .wpcf7-form-control-wrap select.wpcf7-form-control {
    border:1px solid #ccc;
}

#franchise_about .learn_more {
    display:block;
    clear:both;
    float:none;
    text-align: right;
}

.column1 {
}
.footer_col1 {
    background: none;
}

.two_columns_25_75.grid2 > .column1 {
    /*background-image: none;*/
    background-repeat: no-repeat;
    background-position: bottom;
}

@media (max-width: 960px) {
    #franchise_video, #franchise_about {    
        width:100%; 
        clear: both;
    }

    .franchise_pages li {
        display: block;
        width: 33%;
        padding-right: 1%;
        box-sizing: border-box;
        float: left;
    }

    .full_width_inner > .two_columns_25_75 > .column1 {
        width: 100%;
        clear:both;
    }

    .full_width_inner > .two_columns_25_75 > .column1 .column_inner{
        margin:0% 0 0 10%;   
    }

    .full_width_inner > .two_columns_25_75 > .column2 {
        width: 100%;
        clear:both;
    }
}

.sidebar-link.current h2 {
    color: #FDCE00;
}

.side-nav.sub{
    padding-left: 10px;
}

.side-nav.sub h2{
    font-size:12px;
} 

.posts {
    margin:15px;
}
.posts h3 {
    margin-bottom:7px;    
}
.posts p{
    margin-bottom:15px;
}

.user_form .state .locations {
    display:block;
}

.user_form .state .locations .franchise_address {
    font-size: 24px;
	font-family:'oswald';
}

.title-align{
text-align: center;
}



.state .locations .franchise > h3 {
    font-weight:normal;
    display:block;
    background-color: #e7eaf1;
    font-size:24px; 
    line-height: 60px;
	font-family:'oswald';    
}

/*.state .locations .franchise > h3.selected {
    color:red;
    font-weight: bold;
}*/

.form--section {
    padding: 20px;
    background: #fefefe;
    border: #eee 1px solid;
    margin-bottom: 10px;
}

.form--section h2 {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    color: #888;
    font-weight: bold;
    line-height: 22px;
}

.form--section h3 {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    color: #888;
    font-weight: bold;
    line-height: 22px;
}

.side-nav.sub .spt-icons {
    display:none;
}
.side-nav.sub .sidebar-nav {
    /* position: relative; */
    padding: 0px;
    /* margin: 0px; */
    margin-left: 60px;
    /* margin-bottom: 10px; */
    padding-bottom: 0px;
    /* margin-top: 10px; */
    line-height: 100px;
}

.photo_wrap {
    position: relative
}
.delete_button.small-button {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px 10px;
    background: #d22626;
    font-size: 12px;
}

#frm_registration_wrap{
    margin-bottom:50px;
}

#frm_registration input[type="submit"] {
    position: relative;
    display: inline-block;
    width: auto;
    height: 39px;
    line-height: 36px;
    margin: 0;
    padding: 0 23px;
    font-size: 13px;
    font-weight: 700;
    font-family: Raleway,sans-serif;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    background-color: transparent;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    border-color: #fe0000;
    -webkit-appearance: none;
    color:#fe0000;
}

#frm_registration input[type="submit"]:hover{
    border-color: #00397d;    
    color:#00397d;    
}

#frm_registration .error {
    border:1px solid red;
}

.tabs {
    text-align:center;
}

.tabs li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px; 
    margin: 0px 10px;
    border:1px solid #FE0000;
}

.tabs li:hover {
    cursor:pointer;
}

.tab_content {
    display:none;
}

.page-template-my-account-dashboard .tabs li.active, .page-template-my-account-dashboard .tabs li:hover {
    background: #FE0000;
    color:white;
}

.accord_content {
    display:none;
    border: 1px solid #FE0000;
    padding:5px 10px;
}

.accord {
    padding:5px 10px;
    color:white;
    background-color:#FE0000;
}

#preloader_wrap{
    width: 54px;
    height: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -10px;
    z-index: 10001;
}

#preloader_1 {
    /*display:none;*/
    position:relative;
}

#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;
}

#preloader_1 span:nth-child(2){
    left:11px;
    animation-delay: .2s;

}
#preloader_1 span:nth-child(3){
    left:22px;
    animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
    left:33px;
    animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
    left:44px;
    animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}

#preloader_overlay {
    display: none;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: 999999;
    position: fixed;
    background-color: rgba(255,255,255,0.8);
}

.state .providers.state .franchise_left{

}
.state .providers.state .franchise_right {
    float:left;
    text-align: left;
    padding: 0px 10px;
    box-sizing: border-box;
}


@media only screen and (max-width: 1000px){
.state .providers.state .franchise_left {
    float: none;
    width: 100%;
}
.state .providers.state .franchise_right {
    width: 100%;
}
}


@media only screen and (min-width: 1001px){
.state .providers.state .franchise_left {
    float: left;
    width: 33%;
}
.state .providers.state .franchise_right {
    width: 66%;
}
}





.state .providers.state .franchise {
    overflow: hidden;
    float:left;
    width:49%;
    box-sizing: border-box;
    margin-right:1%;
}


.state .providers.state .franchise:nth-child(2n+1) {
    clear:left;
}

.state .providers.state {
    display: block;
}

.state .providers.state .franchise_city a {
    font-size:12px; color:red;    
}
.state .providers.state .franchise_city a:hover {
    font-size:12px; color:#00397d;    
}
.state .providers.state .franchise_city:after {
    content:' • ';
}
.state .providers.state .franchise_city:last-child:after {
    content:'';
}

.state .providers.state .franchise_name {
    font-size: 18px;
    line-height: 0px;
    margin:0px;
    margin-bottom:10px;
}

.state .providers.state .franchise_name a{
    line-height: 18px;
}

.state .providers.state .franchise_owner, .state .providers.state .franchise_tel, .state .providers.state .franchise_email {
    font-size:16px;
}

.franchise_tel .icon_phone, .franchise_email .icon_mail {
    padding:0px 10px 0px 5px;
}

#ui-datepicker-div {
    z-index:1001 !important;
}

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #1E3C7E none; /* a color that fits the widget theme */
	color: white; /* a color that is readeable with the color above */
}

.roster_link{
    float: left;
}

.clear {
    clear:both;
}

.franchise .class{
    border-bottom: 1px solid #ccc;
    padding:10px;
}

.state .locations .franchise {
    font-weight:normal;
}

.vc_col-sm-3 {

    width: 15%;
}

.btn_register_class {
    padding: 5px;
    color:red;
    background-color:white;
    border:1px solid red;
    border-radius:10px;
}

.btn_register_class:hover {
	color:white!important;
	background:red;
}

.tbl_register_class tr {
    border-bottom:1px solid #eee;
}
.tbl_register_class td {
    padding:10px;
    font-size:14px;
}

#rssTable {
    text-align: center;
}


button, input[type="button"], input[type="submit"] {
    cursor:pointer;
}

.h1.franchise_register {
    border:3px solid #FE0000;
    border-radius: 10px;
    padding:10px;
}


.button.delete_post, .delete-btn {
    background-color: red !important; color:white !important;
}

.button.delete_post:hover, .delete-btn:hover {
    background-color: #b10000 !important; color:white !important;
}

.registration_popup_header{
    background-color:#eee;
    padding:10px;
    text-align:center;
}

.registration_popup_header h4{
    color:#000;
}

.registration_popup_header .location_name {
    color:#FE0000;
}

.registration_popup_header .location_name:hover {
    color:#1E3C7E;
}

.download_link{
    color:#FE0000;
}

.download_link:hover{
    color:#00397d;
}

.my_account .state #frm_delete_location {
    float:left;
}

.my_account .state .locations .franchise h3{
    padding:0px 35px;
}

.my_account .state .locations .franchise .edit-btn {
    float:left;
    line-height: 22px;
}

.my_account .state .locations .franchise .edit-btn a{    
    color:#000 !important;
    font-size:14px !important;    
}

.my_account .state .locations .franchise .edit-btn a:hover {
    color:red !important;
}

.my_account .state #frm_delete_location {
    float:left;
    line-height: 22px;
    margin-left:10px;
}

.my_account .state #frm_delete_location .delete-btn {
    background: none !important;
    border:0px none !important;    
    color:#000 !important;
    font-size:14px !important;
    margin:0px !important;
    padding:0px !important;    
}

.my_account .state #frm_delete_location .delete-btn:hover {
    color:red !important;
}

.my_account .state .locations .franchise  {
    text-align:left;
}

.my_account .state .locations .franchise .add_class {
    display: block;
    padding:10px 0px;
}

.location_name {
    line-height: 40px;

}


.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border-color: red!important;
}
