/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");


/*****************************************ADDITIONAL CSS******************************/

/***************************HEADER*****************/

@media only screen and (min-width: 1000px){
header.stick_with_left_right_menu:not(.sticky) {
    text-align: center;
    background-image: url("http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/header-swath.png");
    background-position: bottom center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 175px;
}
}


/*************LOGO*************/

/*********NAVIGATION***********/

nav.main_menu>ul>li>a {
    padding: 0px 7.5px;
}


/*************slider***********/



/******************mobile slider****************/


.slide-text{
    display:BLOCK;
}

@media screen and (max-width: 782px) and (min-width: 480px){
.q_slider {
    margin-top: 8%;
}
}

@media screen and (max-width: 479px){
.q_slider {
    margin-top: 20%;
}

.slide-text{
    display:none;
}
}

/***********END MOBILE SLIDER***********/


/*********************************HOMEPAGE CSS******************************/


/****************feature buttons***********/

@media screen and (min-width: 1300px){
.home-top-row{
    margin-left: 15%;
    margin-right: 15%;
    margin-top:1.5%;
}
}



.home-top-row{
    margin-top:2.5%;
}



/***********welcome text****************/


.home-welcome-header{
     margin-top:1.5%;
     margin-right:15%;
     margin-left:15%;
}


/**********sports icons************/



.icon-row{
    margin:0% 15%;
}

.spt-icons{
    margin: 0 1.25%;
}


#bball:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/hover-basketball-icon.png');
}

#vball:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/my-account-volleyball-icon.png');
}

#sball:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/my-locations-soccerball-icon.png');
}

#fball:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/my-pages-football-icon.png');
}

#bsball:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/logout-baseball-icon.png');
}

#hockey:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/sports-store-hockey-puck-icon.png');
}

#lacross:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/hover-lacross-icon.png');
}

#tennis:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/hover-tennis-icon.png');
}

#golf:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/rescources-golf-icon.png');
}



/*************** KARDIO SECTION ***************/

.kardio-section{
    margin-top: 45px;
    margin-right: 15%;
    margin-left: 15%;
}

.dynk{
    color:white!important;

}


.kardio-section
p{
   font-size: 1.25em;
}

/******************Kardio section mobile************/

@media screen and (max-width: 479px){
.dynkl{
    font-size:1em;
}
}


/***************CAROUSIL*********/

.qode_carousels .slides>li {
    margin: 0 15px 0 0;
}


/*************TESTIMONIAL************/

.testimonials .testimonial_text_inner p:first-of-type {
    font-family: 'lobster';
    font-size: 2.25em!important;
}

.testimonial_author p{
    color: #fe0000;
    font-weight: 300;
    color: #333333;
    font-size: 22px!important;
    font-family: 'open sans';
}

.testimonials-row{
    text-align: center;
    margin: 0 15%;
}


/**************Testimonials mobile*************/

@media screen and (max-width: 479px){
.testimonials .testimonial_text_inner p:first-of-type {
    font-family: 'lobster';
    font-size: 1em!important;
}
}



/***********************END HOMEPAGE CSS***********************/



/**********************CHILD PAGES**********************/


.copy-child-page{
margin: 5% 15%;
}



/****************FRANCHISE VIDEO***************/
@media screen and (min-width: 1000px){
.franchise-video{
    margin: 5% 15% 0px 15%;
}
}




/************STATE MAP*************/

.dynamic-locaion-content{
    height: 300px;
    width: 100%;
}



/**************FONTS***********/

/**************fonts mobile************/
@media screen and (max-width: 479px){
h1 {
    line-height: 1;
    font-size: 2em;
    padding-bottom: 10px;
}
}




/**************sidebar*************/


.column1 {
    width: 25%;
    float: left;
    background-color: #1E3C7E;
    height: 114%;
    background-image: url("http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/franchisee-sidebar-foot-bg.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}


.two_columns_25_75>.column1>.column_inner {
    padding: 0 20px 0 0;
    margin: 25% 0 0 15%;
}



#vball2:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/active-my-account-volleyball-icon.png');
}

#sball2:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/active-my-locations-soccerball-icon.png');
}

#fball2:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/active-my-pages-football-icon.png');
}

#hockey2{
padding: 5px 0;
}

#hockey2:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/active-sports-store-hockey-puck-icon.png');
}

#golf2:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/active-rescources-golf-icon.png');
}

#bsball2:hover{
    content: url('http://amazingathletes.jlbdev.net/wp-content/uploads/2016/03/active-logout-baseball-icon.png');
}



.side-nav{
    position: relative;
    padding: 15px 0;
}

.sidebar-nav{
    position:absolute;
    display:inline;
    padding: 0 0 10px 0;
    margin: 0 0 0 10px;
}

.sidebar-nav
h2{
    line-height: 30px;
    color: white;
}


.sidebar-nav:after {
  content:""; 
  background: #FDCE00; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 10em; 
  height: 2px;
}



.q_social_icon_holder.circle_social .fa-stack {
    border-radius: 50%;
    margin: 5px;
}


.q_social_icon_holder .fa-stack i:last-child, .q_social_icon_holder .fa-stack span {
    font-size: 1em;
}

.sidebar-text{
    margin: 0 25% 0 0;
    font-size: 18px;
    color: white;
    line-height: 40px;
}



.sidebar-telephone
h2{
    color: #FDCE00;
}


.sidebar-telephone
h2
a:hover{
    color: #fe0000!important;
}

.sidebar
.email-link
a{
color:white;
}

.sidebar
.email-link
a{
color:#FDCE00;
}

aside
.widget.widget_search {
    padding: 25px 0 0 0;
}

.widget #searchform {
    width: 95%;
}



.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*********************************FOOTER CSS*******************************/


.footer_top {
    border-top: solid 20px rgb(253, 0, 0);
}

.hidden {
    display:none;
}

.btn_add_coach {
    text-decoration: underline;
}