.user_form button, .user_form input[type="submit"], .user_form input[type="button"], .user_form .button {
    padding: 8px 16px;
    border: 1px solid #1E3C7E  ;
    margin: 10px 0px;
    display: inline-block;
    background-color: #1E3C7E  ;
    color: #fff;
    cursor: pointer;
}
.user_form input[type="submit"]:hover, .user_form .button:hover {
	background-color: #2F519C  ;
}
.selectize-control.cities .selectize-input{
    padding:20px;
    border:0px none;
    color:red;
    font-size:18px;
}

.selectize-control.cities .selectize-dropdown.single {
    border:1px solid red;
}

.selectize-control.cities .selectize-dropdown.single .option{
    padding:10px;
    color:red;
}

.selectize-control.cities .selectize-dropdown.single .option.selected, .selectize-control.cities .selectize-dropdown.single .option:hover{
    background-color: red;
    color:white;
}

.sidebar-nav h2 {
	text-transform: uppercase;
}

.user_form input[type="submit"], .user_form .button {
    background-color:#1E3C7E;
    color:#fff;
    cursor:pointer;
}

.wpcf7-form-control-wrap input[type="text"].wpcf7-form-control, .wpcf7-form-control-wrap input[type="password"], .wpcf7-form-control-wrap input[type="email"], .wpcf7-form-control-wrap input[type="date"], .wpcf7-form-control-wrap textarea.wpcf7-form-control, .wpcf7-form-control-wrap select.wpcf7-form-control {
    border:1px solid #ccc;
}

#franchise_about .learn_more {
    display:block;
    clear:both;
    float:none;
    text-align: right;
}

.column1 {
}
.footer_col1 {
    background: none;
}

.two_columns_25_75.grid2 > .column1 {
    background-image:url('/wp-content/uploads/2016/03/franchisee-sidebar-foot-bg.jpg');
    /*background-image: none;*/
    background-repeat: no-repeat;
    background-position: bottom;
}

@media (max-width: 960px) {
    #franchise_video, #franchise_about {    
        width:100%; 
        clear: both;
    }

    .franchise_pages li {
        display: block;
        width: 33%;
        padding-right: 1%;
        box-sizing: border-box;
        float: left;
    }

    .full_width_inner > .two_columns_25_75 > .column1 {
        width: 100%;
        clear:both;
    }

    .full_width_inner > .two_columns_25_75 > .column1 .column_inner{
        margin:0% 0 0 10%;   
    }

    .full_width_inner > .two_columns_25_75 > .column2 {
        width: 100%;
        clear:both;
    }
}

.sidebar-link.current h2 {
    color: #FDCE00;
}

.side-nav.sub{
    padding-left: 10px;
}

.side-nav.sub h2{
    font-size:12px;
} 

.posts {
    margin:15px;
}
.posts h3 {
    margin-bottom:7px;    
}
.posts p{
    margin-bottom:15px;
}

.user_form .state .locations {
    display:block;
}

.user_form .state .locations .franchise_address {
    font-size: 24px;
	font-family:'oswald';
}

.state .locations .franchise > h3 {
    font-weight:normal;
    display:block;
    background-color: #e7eaf1;
    font-size:24px; 
    line-height: 60px;
	font-family:'oswald'
}

.state .locations .franchise > h3.selected {
    color:red;
    font-weight: bold;
}

.form--section {
    padding: 20px;
    background: #fefefe;
    border: #eee 1px solid;
    margin-bottom: 10px;
}

.form--section h2 {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    color: #888;
    font-weight: bold;
    line-height: 22px;
}