.main {

    position: relative;
    display: block;
    top: $header_height;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $content_padding $content_padding $content_padding $sidebar_width+$content_padding;
    color: $color_content_text;
    background: $color_content_background;
    @include transition(all .2s ease-in-out);

    @include MQ($md) {
        padding: 20px;
        position: static;
        margin-top: 20px;
    }

}