/* MODAL - container and content
* -------------------------------------- */
.modal{
	height: 0;
	@include transition(all .25s ease-in-out);

	&.current{
		display: block;
		position: absolute !important;
		width: 100% !important;
		height: 100% !important;
		overflow: auto;
		left: 0 !important;
		top: 0 !important;
		margin: 0!important;
		padding: 5% 0 5% 0 !important;
		z-index: 999999 !important;
	}

	.wrapper{
		max-width: 600px;
		.container{
			background: rgba(255,255,255,1);
			padding: $grid_padding $grid_padding*2;
		}
	}
	
	&__head{
		position: relative;
		padding: 10px 0;
		text-align: center;
		h1{

		}
		.close{
			position: absolute;
			top: 10px;
			right: 0px;
			font-size: 40px;
		}
	}

	&__body{
		margin: $grid_padding*2 0;
	}

	.close-modal{
		display: none;
	}
}




/* SPECIFIC : video modal
* -------------------------------------- */
#modal-video{
	.wrapper{
		max-width: 80%;
		video{
			width:100%;
		}
	}
}




/* OVERLAY
* -------------------------------------- */
.jquery-modal{
    z-index: 999 !important;
    opacity: 1 !important;
    background: rgba(0, 0, 0, .8) !important;
}