
/* Font */
h1 {

  color: #019CDC;

}

.layout {
  padding: 20px;
}
.wrapper {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.container {
  padding: 0;
}

.header {
  background: #121213;
}

.header__logo img {
  padding-left: 20px;
}


.header-table .header-cell.is-left {
  width: 220px;
}

.profile-top .username:after {
  color: #019CDC;
}

.sidebar {
  background: #141415;
}

.sidebar .sidebar-toggle {
  background: #212223;
}

.sidebar ul.menu > li a {
  color: #c7c7c7;
  border-bottom: 1px solid #272727;
}

.sidebar ul.menu > li.active {
  background-color: #383a40;
  border-left-color: #019CDC;
}

.sidebar ul.menu > li.has_submenu.active {
  border-left: 4px solid #019CDC !important;
}


.main {
  padding: 0px 0px 20px 350px;
}

@media (max-width: 993px) {
  .main {
    padding: 0px;
    margin-top: 0px;
  }
}

.login-page .login-table {
  background-image: url("../images/bg.jpg");
}

.login-form a {
  color: #019CDC;
}

.login-form .login-title:before {
  top: -10px;
  width: 50px;
  right: 100%;
  height: 52px;
  content: "\A";
  margin-right: 10px;
  position: absolute;
  background: url("../images/logo.jpg") no-repeat transparent top left;
  background-size: 52px;
}


.login-form .button-submit {

  background: #019CDC;
}

.login-form .button-submit:hover {
  background: #1BB5F5;
}

.badge--success {
  background-color: #019CDC;
}

.btn:hover, button:hover {
  background-color: #f2f2f2;
}
.btn--primary {
  background-color: #019CDC;
}
.btn--primary:hover {
  background-color: #1BB5F5;
}

.breadcrumbs li a {

  color: #019CDC;

}

.breadcrumbs li:after {
  color: #019CDC;
}

.notify--success {
  color: #1BB5F5;
}
.table a:not(.btn):not(button) {
  color: #019CDC;

}

.dataTables_wrapper .dataTable th {
  border-bottom: #efefef 1px solid;
  padding: 10px 10px;
}
.dataTables_wrapper table.dataTable.no-footer {
  border-bottom: 1px solid #fff;
}
.dataTables_wrapper table th input {
  padding: 6px;
  border: #d0d0d0 1px solid;
  width: auto;
  width: 100%;
  box-sizing: border-box;
}

/*
.pagination {
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
  color: #5a5a5a;
  padding-left: 0px;
}
@media (max-width: 780px) {
  .pagination {
    padding: 0;
    width: 100%;
    display: table;
    margin: 0 0 30px 0;
    table-layout: fixed;
  }
}
.pagination li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 780px) {
  .pagination li {
    display: table-cell;
    vertical-align: middle;
  }
  .pagination li:first-child, .pagination li:last-child {
    width: 30px;
  }
}
.pagination a,
.pagination span {
  display: block;
  margin: 0 5px;
  padding: 0 10px;
  line-height: 28px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
}
@media (max-width: 780px) {
  .pagination a,
  .pagination span {
    font-size: 14px;
  }
}
.pagination a {
  color: #5a5a5a;
  font-weight: 700;
}

*/


.card-wrapper table.card-table a {
  color: #019CDC;
}

.card-wrapper table.card-table td.fixed250 {
  width: 248px;
}

.card-wrapper div.card-table .card-table-cell.fixed250 {
  width: 248px;
}
.card-wrapper div.card-table .table {
  margin: 0;
}
.card-wrapper div.card-table a {
  color: #019CDC;
}
.card-form input.is-green {
  color: #019CDC;
}
.card-form input:disabled {
  padding: 0 10px 0 10px;
  min-width: 75px;
}

.card-form button[data-js="submit-field"] {
  background: #019CDC;
}
.card-form button[data-js="submit-field"]:hover {
  background: #1BB5F5;
}

.checkbox-toggle input:checked + label {
  background-color: #019CDC;
  border: 1px solid #019CDC;
}
.checkbox-toggle input:checked + label:after {
  border: 1px solid #019CDC;
}

.checkbox-default label:after {
  color: #019CDC;
}

.radio-default label i {
  background-color: #019CDC;
}

.top-search button {
  color: #019CDC;
}

.js-tabs-header .js-tabs-cell.is-active .js-tab-link i {
  background-color: #019CDC;
  border: 1px solid #019CDC;
}

.js-tabs-header .js-tab-link i {
  color: #019CDC;
}

.context--pageheader {
  margin-bottom: 0px;
  padding: 20px;
}
.context--pageheader h1 {
  line-height: 34px;
  padding-top: 12px;
}
@media (max-width: 780px) {
  .context--pageheader h1 {
    display: block;
    margin-bottom: 15px;
  }
}

.select2-container {
  z-index: 99999;
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #019CDC;
}

.pika-single {
  z-index: 99999;
}


/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(0, 0, 0, 0.8);
}


/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */
.remodal {
  padding: 10px;
}
.remodal--success {
  color: #1BB5F5;
}

div.dt-buttons {
  margin-bottom: 10px
}
@media screen and (max-width: 640px){
  .dataTables_wrapper div.dt-buttons {
    float: none !important;
    text-align: left;
}
}

.dt-buttons a.dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    padding: 0.5em 1em;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.88em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: #e9e9e9;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
    background: #fff;
    color: #2c2f35;
    font-size: 16px;
    line-height: 16px;
}
.fields-group {
    border: none;
    background: #efefef;
    padding: 20px;
}
.fields-group .card-wrapper div.card-table a {
    color: #fff;
}
.repeater input, .repeater select {
  padding: 8px 8px;
  width: 100%;
  border: #c7c7c7 1px solid;
}
.btn--danger {
    border-color: #722e2d;
    color: #fff;
    background-color: #722e2d;
}
.btn--danger:hover {
  background-color: #a94847;
      border-color: #a94847;
}
.card-wrapper div.card-table a {
    color: #fff;
}
.repeater .form-group {
  margin-bottom: 10px;
}
.card-wrapper .card-header {
    background-color: #fff;
}
td.price {
    text-align: right;
}